body {
    height: 100%;
    cursor: default;
}

h4 span {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    color: crimson;
    font-size: 1.2em;
}

h4 {
    padding: 15px;
}

img {
    max-width: 300px;
    min-width: 200px;
}

.container {
    text-align: center;
    height: 100%;
    background-image: url("../images/Bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}